#root {
  margin: 0 ;
  padding: 0;
}

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 20px;
  font-family: cursive;
  padding: 10px;
   }
   
.Container{
  position: relative;
  padding: 15px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 1px 1px 18px rgb(132, 132, 132);
  background-color: white;
}

.Datingcontainer{
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.author{
  text-align: right;
  margin: 15px 0;
}

h3{
margin-right: 10px;
}

.containerButton{
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 48px;
}

.button{  
  font-size: 40px;
  color: white;
  border: none;
  border-radius: 50px;
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 auto;
  cursor: pointer;
  transition: transform 200ms ease;
}

.button:hover{
transform: scale(1.04);
}

.quote{
  font-size: 50px;
}
